registry=https://registry.npmjs.org/
always-auth=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
always-auth=false
fund=false
audit=false
# proxy=http://user:pass@proxy.company:8080
# https-proxy=http://user:pass@proxy.company:8080
